body{
	font-family: Arial;
	background-color: #2E2D4D;
}

.pfp{
	border-radius: 50%;
}

.firstClass{
	padding-bottom: 1rem;
	padding-top: 1rem;
	padding-left: 4rem;
	font-size: 32px;
	color: #FFFFFF;
}

.marginEffect {
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.middleDiv{
	background-color: #8A4FFF;
	padding-top: 20rem;
	padding-bottom: 20rem;
	color: white;
	font-size: 24px;
	width: 100%;
}


.nav-links{
	margin-right: 4rem;
	margin-top: 2.75rem;
}

.nav-item{
	padding-left: 45px;
	color: white;
	font-size: 24px;
	text-decoration: none;
}